body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Crimson Text', serif; 
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    
}

.bg-hero {
    background-color: #74C69D;
}

/* HEADER */
.header-container {  
    background-color: #74C69D; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;   
}

.header-row {
    margin-left: calc(50% - 40vw);
    margin: 30px 30px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.main-nav {
    display: flex;  
    gap: 30px;
    align-items: end;
}

.logo {
    height: 50px;
    width: 187px;
    object-fit: contain;
    object-position: left;   
}

.link {
    text-decoration: none;
    color:white
}

/* HEADER END */

h2 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 125%;
    font-weight: 700;
}

h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.75);
}

.light-button {
    background-color: #ffffff;
    padding: 13px 47px;
    border-radius: 10px;
    font-size: 20px;
}


/* HERO */

/* LAYOUT CONTAINER */

.hero-container {
    box-sizing: border-box;
    margin-left: calc(50% - 40vw);
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5vw;
}


.left-col {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-right: 100px;
    flex-wrap: wrap;
    max-width: 416px;;

}

.container {
    width: 100wv;
    background-color: #74C69D;
    /* overflow: hidden; */
    
}



.partner-container {
    background-color: white;
}

.left-col > h2, h1 {
    color: white;
}

