body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Crimson Text', serif; 
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    
}