/* 3rd-party */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
/* @import '../3rd-party/css/all.min.css';
@import '../3rd-party/css/font-awesome.min.css'; */
/* components */
@import '../components/header.css';
@import '../components/footer.css';
@import '../components/mobile.css';
/* CUSTOM STYLE */


.bg-hero {
    width: 100%;
    background-color: #74C69D;
}

h4 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 125%;
    font-weight: 700;
}

h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}

.card-container > p {
    line-height: 125%;
    color: rgba(33, 37, 41, 0.75);
    padding-top: 2em;
}

.left-col > h2, .left-col > h1 {
    color: white;
}

.left-col > p {
    color: rgba(255, 255, 255, 0.75);
}

.col > p, .col > h1 {
    color: black;
}

.col > h2 {
    color: #74C69D;
}

.col > p {
    font-size: 20px;
    line-height: 125%;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 170px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 25px 0;
    border-radius: 10px;
    transition: all 0.5s;
}


.btn-light {
    background-color: #ffffff;
    color: #000;
    font-size: 20px;
}

.btn-light:hover {
    background-color: #000;
    color: #ffffff;
}

.btn-dark {
    background-color: #000;
    color: #ffffff;
    font-size: 20px;
}

.btn-dark:hover {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #000;
}

